name: 检测Serv00开放注册

on:
  schedule:
    - cron: '0 23 * * *'
  workflow_dispatch:
    
jobs:
  run-checker:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'
        

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          
      - name: Install Google Chrome
        run: |
          
          sudo apt-get update
        
          sudo apt-get install -y google-chrome-stable

      - name: Run the checker script
        run: python checker.py
      
        env:
          BARK_KEY: ${{ secrets.BARK_KEY }}
          BARK_SERVER_URL: ${{ secrets.BARK_SERVER_URL }}
